mainmenu "POLLUX Baremetal Configuration"

menuconfig BAREMETAL_USE_LINKER_SCRIPT
	bool "Use baremetal linker script"
	default y

if BAREMETAL_USE_LINKER_SCRIPT
choice BAREMETAL_BOOT_SOURCE
	prompt "Boot source"
config BAREMETAL_BOOT_SOURCE_RAM
	bool "RAM"
config BAREMETAL_BOOT_SOURCE_UART
	bool "UART boot"
config BAREMETAL_BOOT_SOURCE_NAND
	bool "NAND flash"
	depends on NOT_IMPLEMENTED
config BAREMETAL_BOOT_SOURCE_NOR
	bool "NOR flash"
	depends on HAVE_NOR
	depends on NOT_IMPLEMENTED
endchoice

config BAREMETAL_SHADOW
	bool "Shadow RAM" if BAREMETAL_BOOT_SOURCE_RAM
	default y if BAREMETAL_BOOT_SOURCE_RAM
	default y if BAREMETAL_BOOT_SOURCE_UART
	default y if BAREMETAL_BOOT_SOURCE_NAND
	help
	  If enabled, DDR (MCU-Y) starts at physical address 0x00000000 and
	  the static bus (MCU-S) starts at 0x80000000.  Otherwise these two
	  1GB memory spaces are reversed.  Under most circumstances you want
	  this enabled.

config BAREMETAL_RUNTIME_ADDRESS
	hex "Runtime address"
	default 0x00000000 if BAREMETAL_SHADOW
	default 0x80000000 if !BAREMETAL_SHADOW
	range 0x00000000 0x07FFFFFF if BAREMETAL_SHADOW
	range 0x80000000 0x87FFFFFF if !BAREMETAL_SHADOW

config BAREMETAL_INITIAL_STACK_SIZE
	hex "Initial stack size"
	default 0x4000
endif

config BAREMETAL_USE_ENTRY
menuconfig BAREMETAL_USE_ENTRY
	depends on BAREMETAL_USE_LINKER_SCRIPT
	bool "Use baremetal entry code"
	default y

if BAREMETAL_USE_ENTRY
config BAREMETAL_AUTO_RELOCATE
	bool "Auto relocate"
	default y
endif

config BAREMETAL_USE_EARLY
menuconfig BAREMETAL_USE_EARLY
	depends on BAREMETAL_USE_ENTRY
	bool "Use baremetal early code"
	default y

if BAREMETAL_USE_EARLY
config BAREMETAL_LATCH_POWER
	bool "Latch power"
	default y
	help
	  Say Y here to enable latching power in startup code.
endif

config BAREMETAL_USE_STARTUP
menuconfig BAREMETAL_USE_STARTUP
	depends on BAREMETAL_USE_EARLY
	bool "Use baremetal startup code"
	default y

if BAREMETAL_USE_STARTUP
config BAREMETAL_ENABLE_ICACHE
	bool "Enable ICache"
	default y
	help
	  Say Y here to enable the instruction cache.  In almost all
	  circumstances you want this.

config BAREMETAL_ENABLE_MMU
	bool "Enable MMU"
	default y
	help
	  Say Y here to enable the MMU, setup with a basic 1:1 mmemory map.

config BAREMETAL_ENABLE_DCACHE
config BAREMETAL_ENABLE_DCACHE
	depends on BAREMETAL_ENABLE_MMU
	bool "Enable DCache"
	default y
	help
	  Say Y here to enable the data cache.

choice BAREMETAL_PLL0_INIT
	prompt "Initialize PLL0"
	default BAREMETAL_PLL0_INIT_533
	depends on BAREMETAL_ENABLE_ICACHE
	help
	  PLL0 is the clock source for the ARM9 CPU. It is initially 384 MHz.
config BAREMETAL_PLL0_INIT_NONE
	bool "None"
config BAREMETAL_PLL0_INIT_533
	bool "533 MHz"
endchoice

config BAREMETAL_DDR_INIT
	bool "Initialize DDR"
	default y
	select BAREMETAL_CLOCKING

choice BAREMETAL_UART
	prompt "UART implementation"
	default BAREMETAL_UART_FIFO if BAREMETAL_INTERRUPTS
	default BAREMETAL_UART_POLLED if !BAREMETAL_INTERRUPTS
config BAREMETAL_UART_NONE
	bool "None"
config BAREMETAL_UART_POLLED
	bool "Polled"
	depends on NOT_IMPLEMENTED
config BAREMETAL_UART_FIFO
	bool "FIFO"
	depends on NOT_IMPLEMENTED
	depends on BAREMETAL_INTERRUPTS
endchoice
endif