mainmenu "POLLUX Baremetal Configuration"

menu "Baremetal: startup"

choice BAREMETAL_BOOT_SOURCE
	prompt "Boot source"
config BAREMETAL_BOOT_SOURCE_RAM
	bool "RAM"
config BAREMETAL_BOOT_SOURCE_UART
	bool "UART boot"
config BAREMETAL_BOOT_SOURCE_NAND
	bool "NAND flash"
	depends on NOT_IMPLEMENTED
config BAREMETAL_BOOT_SOURCE_NOR
	bool "NOR flash"
	depends on HAVE_NOR
	depends on NOT_IMPLEMENTED
endchoice

config BAREMETAL_SHADOW
	bool "Shadow RAM" if BAREMETAL_BOOT_SOURCE_RAM
	default y if BAREMETAL_BOOT_SOURCE_RAM
	default y if BAREMETAL_BOOT_SOURCE_UART
	default y if BAREMETAL_BOOT_SOURCE_NAND
	help
	  If enabled, DDR (MCU-Y) starts at physical address 0x00000000 and
	  the static bus (MCU-S) starts at 0x80000000.  Otherwise these two
	  1GB memory spaces are reversed.  Under most circumstances you want
	  this enabled.

config BAREMETAL_INITIAL_STACK_SIZE
	hex "Initial stack size"
	default 0x40000

config BAREMETAL_ENTRY_ADDRESS
	hex "Entry address" if BAREMETAL_BOOT_SOURCE_RAM
	default 0x00000000 if BAREMETAL_SHADOW
	default 0x80000000 if !BAREMETAL_SHADOW
	range 0x00000000 0x07FFFFFF if BAREMETAL_SHADOW
	range 0x80000000 0x87FFFFFF if !BAREMETAL_SHADOW

config BAREMETAL_RELOCATE
	bool "Relocate"
	default y if BAREMETAL_BOOT_SOURCE_RAM

config BAREMETAL_RELOCATE_ADDRESS
	hex "Relocate address" if !BAREMETAL_BOOT_SOURCE_RAM && BAREMETAL_RELOCATE
	default 0x00800000 if BAREMETAL_SHADOW
	default 0x80800000 if !BAREMETAL_SHADOW
	range 0x00000000 0x07FFFFFF if BAREMETAL_SHADOW
	range 0x80000000 0x87FFFFFF if !BAREMETAL_SHADOW

config BAREMETAL_LATCH_POWER
	bool "Latch power"
	default y
	help
	  Say Y here to enable latching power in startup code.
endmenu

menu "Baremetal: runtime"

config BAREMETAL_ENABLE_ICACHE
	bool "Enable ICache"
	default y
	select BAREMETAL_CACHE
	help
	  Say Y here to enable the instruction cache.  In almost all
	  circumstances you want this.

config BAREMETAL_ENABLE_DCACHE # remove indent
config BAREMETAL_ENABLE_DCACHE
	depends on BAREMETAL_ENABLE_ICACHE
	bool "Enable DCache"
	default y
	help
	  Say Y here to enable the data cache and MMU. The MMU is setup with a
	  basic 1:1 memory map.

config BAREMETAL_CACHE
	bool

choice BAREMETAL_PLL0_INIT
	prompt "Initialize PLL0"
	default BAREMETAL_PLL0_INIT_533
	depends on BAREMETAL_ENABLE_ICACHE
	help
	  PLL0 is the clock source for the ARM9 CPU. It is initially 384 MHz.
config BAREMETAL_PLL0_INIT_NONE
	bool "none"
config BAREMETAL_PLL0_INIT_533
	bool "533 MHz"
	select BAREMETAL_CLOCKING
	select BAREMETAL_PLL0_INIT
endchoice

config BAREMETAL_CLOCKING
	bool

config BAREMETAL_DDR_INIT
	bool "Initialize DDR"
	default y
	select BAREMETAL_CLOCKING


config BAREMETAL_PLL0_INIT
	bool

config BAREMETAL_USE_NEWLIB
	bool "Use Newlib C Library"
	default y

choice BAREMETAL_HEAP
	prompt "Heap type"
	default BAREMETAL_HEAP_FIXED if !BAREMETAL_USE_NEWLIB 
	default BAREMETAL_HEAP_AUTO if BAREMETAL_USE_NEWLIB
config BAREMETAL_HEAP_NONE
	bool "None"
config BAREMETAL_HEAP_FIXED
	bool "Fixed"
config BAREMETAL_HEAP_AUTO
	bool "Auto"
endchoice

config BAREMETAL_HEAP_FIXED_SIZE
	depends on BAREMETAL_HEAP_FIXED
	hex "Fixed heap size"
	default 0x40000

config BAREMETAL_MOVE_STACK
	bool "Move stack to the top of RAM"

choice BAREMETAL_UART
	prompt "UART implementation"
	default BAREMETAL_UART_FIFO if BAREMETAL_INTERRUPTS
	default BAREMETAL_UART_POLLED if !BAREMETAL_INTERRUPTS
config BAREMETAL_UART_NONE
	bool "None"
config BAREMETAL_UART_POLLED
	bool "Polled"
	depends on NOT_IMPLEMENTED
config BAREMETAL_UART_FIFO
	bool "FIFO"
	depends on NOT_IMPLEMENTED
	depends on BAREMETAL_INTERRUPTS
endchoice

endmenu
